Repository catalogicsoftware/kubedr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go_lint, userguide, devguide, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Path conditions:
  go_lint: not (any of: docs/**/*, tests/**/*)
  userguide: any of: docs/userguide/**/*
  devguide: any of: docs/devguide/**/*
  kubedr_image: not (any of: docs/**/*, tests/**/*)
  kubedr_latest: not (any of: docs/**/*, tests/**/*)
  kubedr_tags: not (any of: docs/**/*, tests/**/*)
  kubedr_go: not (any of: docs/**/*, tests/**/*)
  k8s_deploy: not (any of: docs/**/*, tests/**/*)
  k8s_provision: not (any of: docs/**/*, tests/**/*)
  kubedr: not (any of: docs/**/*, tests/**/*)
  k8s_1.13: not (any of: docs/**/*, tests/**/*)
  k8s_1.14: not (any of: docs/**/*, tests/**/*)
  k8s_1.15: not (any of: docs/**/*, tests/**/*)
  k8s_1.16: not (any of: docs/**/*, tests/**/*)
  k8s_1.17: not (any of: docs/**/*, tests/**/*)
  k8s_cleanup: not (any of: docs/**/*, tests/**/*)
  s3_cleanup: not (any of: docs/**/*, tests/**/*)

Correct lint issues
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add extra variables to permit skipping certain jobs.
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add initial configuration, pass dependencies and run with needs:
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Do not globally set except:, as this stops manual pipeline runs.
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Remove exceptions from DND template
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Cleaning up to get ready for outside release.
  README.md
  kubedr/.gitignore
  kubedr/api/v1alpha1/backuplocation_types.go
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatabackuprecord_controller.go
  samples/access_key
  samples/backuploc-kind-minio.yaml
  samples/backuplocation.yaml
  samples/copycerts.sh
  samples/mbp.yaml
  samples/mbr.yaml
  samples/policy.yaml
  samples/policy_patch.yaml
  samples/restic_repo_password
  samples/resticbackup.yaml
  samples/resticinit.yaml
  samples/secret.yaml
  samples/secret_key
  samples/testpod.yaml
  scripts/metadata_backup.sh
  tests/conftest.py
Due: none

Remove shell linting, since we no longer need the shell scripts directory.
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add new version testing details in docs.
  .gitlab-ci.yml
  docs/userguide/source/requirements.rst
Due: userguide

Get user guide ready for outside release.
  .gitignore
  docs/userguide/source/conf.py
  docs/userguide/source/installation.rst
  docs/userguide/source/requirements.rst
  docs/userguide/source/roadmap.rst
Due: userguide

Add extra env var for dockerhub push in makefile, make sure tags runs at the end and only if all tests pass
  .gitlab-ci.yml
  Makefile
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Bump kubedrutil tag
  .gitlab-ci.yml
  Makefile
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add newline to EOF
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add release stage naming scheme
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Use internal registry.
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Fix lint (new line)
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add correct var for GitLab server.
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add correct repo name for ansible
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Update top level README.
  README.md
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Added Logo.
  README.md
  docs/userguide/source/_static/images/logo-2.0-vert-xsmall.png
  docs/userguide/source/_static/images/logo-2.5-vert-small.png
  docs/userguide/source/_static/images/logo-3.0-vert-med.png
  docs/userguide/source/conf.py
  docs/userguide/source/installation.rst
  logos/logo-2.0-vert-xsmall.png
Due: userguide

Use smaller sized logo.
  README.md
  logos/logo-1.5-vert-xxsmall.png
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

More experimentation with logos.
  README.md
  logos/logo-2.5-horiz-small.png
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Fix grammar
  README.md
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Bump kubedrutil tag
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Push docker tags not latest
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Update README.
  README.md
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Fix release link in user guide.
  docs/userguide/source/installation.rst
Due: userguide

Run separate go build for tags
  .gitlab-ci.yml
  Makefile
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Change dockerhub push verbiage, ensure kubedr deps are grabbed from artifacts of previous job
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add CI_COMMIT_TAG to controller image tag in kustomize
  Makefile
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add no dependencies for kubedr
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Update installation.rst
  docs/userguide/source/installation.rst
Due: userguide

Login to registry.
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Always push kubedr to dockerhub for debug purposes.
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Do not set image tag in env vars of push to dockerhub job
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Update docs/devguide/source/ci_builds.rst
  docs/devguide/source/ci_builds.rst
Due: devguide

Do not run full build for docs, despite removing ability for manual pipelines.
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup

Add local builds information, expand ci builds
  .gitlab-ci.yml
  docs/devguide/source/ci_builds.rst
  docs/devguide/source/index.rst
  docs/devguide/source/local_builds.rst
  docs/userguide/source/index.rst
Due: userguide, devguide

Make sure docs does not extend general, since it is the exception to the pipeline rule.
  .gitlab-ci.yml
Due: go_lint, kubedr_image, kubedr_latest, kubedr_tags, kubedr_go, k8s_deploy, k8s_provision, kubedr, k8s_1.13, k8s_1.14, k8s_1.15, k8s_1.16, k8s_1.17, k8s_cleanup, s3_cleanup
