Repository catalogicsoftware/kubedr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go_lint, userguide, devguide

Path conditions:
  go_lint: not (any of: docs/**/*, tests/**/*)
  userguide: any of: docs/**/*
  devguide: any of: docs/**/*

Run gofmt
  kubedr/api/v1alpha1/metadatabackuppolicy_types.go
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
Due: go_lint

Run gofmt -s, modify yamllint rules for automatically-generated CRDs.
  .yamllint
  kubedr/api/v1alpha1/metadatabackuppolicy_types.go
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
Due: go_lint

Update util image to fix a bug in copying certificates.
  Makefile
Due: go_lint

Check number of files backed up in tests.
  tests/src/test_backup.py
Due: none

Reflect change to Concourse CI in devguide.
  docs/devguide/source/ci_builds.rst
Due: userguide, devguide

Minor tweaks to devguide CI page.
  docs/devguide/source/ci_builds.rst
Due: userguide, devguide

Use new util's image containing a fix to log error message.
  Makefile
Due: go_lint

Export some backup stats as Prometheus metrics.
  Makefile
  kubedr/Dockerfile
  kubedr/api/v1alpha1/metadatabackuppolicy_types.go
  kubedr/api/v1alpha1/zz_generated.deepcopy.go
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_backuplocations.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuppolicies.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuprecords.yaml
  kubedr/config/manager/kustomization.yaml
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatabackuprecord_controller.go
  kubedr/go.mod
  kubedr/go.sum
  kubedr/main.go
  kubedr/metrics/metrics.go
Due: go_lint

Update user guide with details about metrics.
  docs/userguide/source/monitoring.rst
Due: userguide, devguide

Add Google Group to Feedback README section and badge.
  README.md
Due: go_lint

Add details about metrics to dev guide.
  docs/devguide/source/index.rst
  docs/devguide/source/monitoring.rst
Due: userguide, devguide

Added "BackupLocation" field to MetadataBackupRecord.
  Makefile
  kubedr/api/v1alpha1/metadatabackuprecord_types.go
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuprecords.yaml
Due: go_lint

Add generation number in status of BackupLocation resource.
  Makefile
  docs/devguide/source/impl.rst
  kubedr/api/v1alpha1/backuplocation_types.go
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_backuplocations.yaml
  kubedr/controllers/backuplocation_controller.go
Due: userguide, devguide

Support non-DR restore.
  Makefile
  docs/userguide/source/monitoring.rst
  kubedr/PROJECT
  kubedr/api/v1alpha1/metadatabackuppolicy_types.go
  kubedr/api/v1alpha1/metadatarestore_types.go
  kubedr/api/v1alpha1/zz_generated.deepcopy.go
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuppolicies.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatarestores.yaml
  kubedr/config/crd/kustomization.yaml
  kubedr/config/crd/patches/cainjection_in_metadatarestores.yaml
  kubedr/config/crd/patches/webhook_in_metadatarestores.yaml
  kubedr/config/samples/kubedr_v1alpha1_metadatarestore.yaml
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatarestore_controller.go
  kubedr/controllers/suite_test.go
  kubedr/main.go
  tests/conftest.py
  tests/src/common/kubeclient.py
  tests/src/common/util.py
  tests/src/test_backup.py
Due: userguide, devguide

Tests should wait for PVC to be bound.
  tests/src/common/kubeclient.py
  tests/src/common/util.py
Due: none

Make sure PV and PVC in tests use same storageClassName.
  tests/src/common/util.py
  tests/src/test_backup.py
Due: none

Improve error message when pod cannot be started.
  kubedr/controllers/metadatarestore_controller.go
Due: go_lint

Skip assertion of restored files when running as part of CI.
  tests/src/test_backup.py
Due: none

Document new restore mechanism.
  docs/userguide/source/backup.rst
  docs/userguide/source/monitoring.rst
  docs/userguide/source/restore.rst
  docs/userguide/source/roadmap.rst
  docs/userguide/source/troubleshooting.rst
Due: userguide, devguide

Fix Grafana link.
  docs/userguide/source/monitoring.rst
Due: userguide, devguide

Add docker pulls badge
  README.md
Due: go_lint
