Repository catalogicsoftware/kubedr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go_lint, userguide, devguide

.gitlab-ci.yml:

stages:
  - lint
  - build

# Rules/Configuration: https://yamllint.readthedocs.io/en/stable/rules.html
yaml_lint:
  stage: lint
  image: sdesbure/yamllint
  script:
    - yamllint .

md_lint:
  stage: lint
  image: cytopia/awesome-ci
  script:
    - syntax-markdown --text --extension='.md' --path=./

sh_lint:
  stage: lint
  image: cytopia/awesome-ci
  script:
    - syntax-sh --text --path=./scripts

go_lint:
  stage: lint
  image: golangci/golangci-lint:v1.20.1-alpine
  before_script:
    - golangci-lint help linters
  script:
    - cd kubedr
    - golangci-lint run ./...
  only:
    changes:
      - kubedr/**/*

# TODO: convert misspell to packaged image in kcx-misc
spelling_lint:
  stage: lint
  image: alpine:3.10
  before_script:
    - apk add --no-cache curl
    - curl -L -o ./install-misspell.sh https://git.io/misspell
    - sh ./install-misspell.sh -b /usr/local/bin
  script:
    - find . -type f -name '*.md' | xargs misspell -error

userguide:
  stage: build
  image: rust:1.39
  variables:
    CARGO_HOME: $CI_PROJECT_DIR/.cargo
    MDBOOK_NAME: userguide
    MDBOOK_PATH_BASE: /distribution/devops
    MDBOOK_PATH_FULL: $MDBOOK_PATH_BASE/$CI_PROJECT_NAME/$CI_COMMIT_REF_NAME/docs/$MDBOOK_NAME
  before_script:
    - cargo install mdbook --force --no-default-features --features output --vers "^0.1.0"
  script:
    - cd docs/$MDBOOK_NAME
    - $CARGO_HOME/bin/mdbook build
    - rm -rf $MDBOOK_PATH_FULL/*
    - mkdir -p $MDBOOK_PATH_FULL
    - cp -rf book/* $MDBOOK_PATH_FULL/
  cache:
    paths:
      - .cargo
  only:
    refs:
      - master
    changes:
      - docs/**/*

devguide:
  stage: build
  image: rust:1.39
  variables:
    CARGO_HOME: $CI_PROJECT_DIR/.cargo
    MDBOOK_NAME: devguide
    MDBOOK_PATH_BASE: /distribution/devops
    MDBOOK_PATH_FULL: $MDBOOK_PATH_BASE/$CI_PROJECT_NAME/$CI_COMMIT_REF_NAME/docs/$MDBOOK_NAME
  before_script:
    - cargo install mdbook --force --no-default-features --features output --vers "^0.1.0"
  script:
    - cd docs/$MDBOOK_NAME
    - $CARGO_HOME/bin/mdbook build
    - rm -rf $MDBOOK_PATH_FULL/*
    - mkdir -p $MDBOOK_PATH_FULL
    - cp -rf book/* $MDBOOK_PATH_FULL/
  cache:
    paths:
      - .cargo
  only:
    refs:
      - master
    changes:
      - docs/**/*

Document proper uninstall procedure.
  docs/userguide/src/uninstall.md
Due: userguide, devguide

Minor changes to user guide.
  docs/userguide/src/introduction.md
  docs/userguide/src/uninstall.md
Due: userguide, devguide

Remove kubedr.yaml from git.
  kubedr/.gitignore
  kubedr/kubedr.yaml
Due: go_lint

Fixed issue with sample restore command.
  docs/userguide/src/restore.md
Due: userguide, devguide

Add backslash.
  docs/userguide/src/backup.md
Due: userguide, devguide

Only update docs when their subdirs change.
  .gitlab-ci.yml
Due: none

Only run linters conditionally
  .gitlab-ci.yml
  Makefile
Due: none

Match YAML standard
  .yamllint
Due: none

Fix YAML syntax
  .gitlab-ci.yml
  .yamllint
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_backuplocations.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuppolicies.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuprecords.yaml
  kubedr/config/prometheus/monitor.yaml
  kubedr/config/rbac/role.yaml
  kubedr/config/webhook/service.yaml
  samples/resticbackup.yaml
Due: go_lint

Remove trailing
  .yamllint
Due: none

Fix gitlab yaml errors
  .gitlab-ci.yml
Due: none

Added first automated test.
  .gitignore
  kubedr/api/v1alpha1/metadatabackuppolicy_webhook.go
  kubedr/config/manager/kustomization.yaml
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatabackuprecord_controller.go
  tests/config/.gitignore
  tests/config/sample_testenv.json
  tests/conftest.py
  tests/pytest.ini
  tests/runtests
  tests/src/__init__.py
  tests/src/common/__init__.py
  tests/src/common/kubeclient.py
  tests/src/test_backuploc.py
  uninstall.sh
Due: go_lint

Removed some debug prints.
  tests/conftest.py
Due: none

Add build and push functionality, split off everything to call registry+image name and tag so that we can control it in CI/CD
  .gitignore
Due: none

Update Makefile with build target.
  Makefile
Due: none

Add lint templates and skip lint conditional
  .gitlab-ci.yml
Due: none

Push docker SHA, improve when jobs run
  .gitlab-ci.yml
Due: none

Resolve "Optimize kubedr's build"
  .gitlab-ci.yml
  Makefile
Due: none

Fix the env variable name of kubedrutil image.
  Makefile
  kubedr/config/manager/kustomization.yaml
  kubedr/config/manager/manager.yaml
  samples/copycerts.sh
Due: go_lint

Make retry/wait times used in tests configurable.
  tests/conftest.py
  tests/src/common/kubeclient.py
Due: none

Added an automated test for backup.
  kubedr/controllers/metadatabackuppolicy_controller.go
  tests/config/sample_testenv.json
  tests/conftest.py
  tests/src/common/kubeclient.py
  tests/src/common/util.py
  tests/src/test_backup.py
  tests/src/test_backuploc.py
Due: go_lint

Fixed a lint error.
  kubedr/api/v1alpha1/backuplocation_webhook.go
Due: go_lint

Document automated tests.
  docs/devguide.new/Makefile
  docs/devguide.new/source/architecture.rst
  docs/devguide.new/source/automated_tests.rst
  docs/devguide.new/source/ci_builds.rst
  docs/devguide.new/source/conf.py
  docs/devguide.new/source/index.rst
  docs/devguide.new/source/intro.rst
  docs/devguide.new/source/local_builds.rst
  tests/config/sample_testenv.json
  tests/conftest.py
  tests/src/test_backup.py
Due: userguide, devguide

Converted User guide to Sphinx format.
  docs/devguide.new/.gitignore
  docs/userguide.new/.gitignore
  docs/userguide.new/Makefile
  docs/userguide.new/make.bat
  docs/userguide.new/source/backup.rst
  docs/userguide.new/source/conf.py
  docs/userguide.new/source/configuration.rst
  docs/userguide.new/source/index.rst
  docs/userguide.new/source/installation.rst
  docs/userguide.new/source/introduction.rst
  docs/userguide.new/source/monitoring.rst
  docs/userguide.new/source/overview.rst
  docs/userguide.new/source/pause_resume.rst
  docs/userguide.new/source/requirements.rst
  docs/userguide.new/source/restore.rst
  docs/userguide.new/source/roadmap.rst
  docs/userguide.new/source/troubleshooting.rst
  docs/userguide.new/source/uninstall.rst
Due: userguide, devguide

Resolve "Build and set up dev guide/user guide"
  .gitlab-ci.yml
Due: none

Add correct build path
  .gitlab-ci.yml
Due: none

Expire artifacts in one week
  .gitlab-ci.yml
Due: none

Do not run go linter on docs or tests
  .gitlab-ci.yml
Due: none

Update user guide.
  docs/devguide/source/_static/css/custom.css
  docs/devguide/source/conf.py
  docs/userguide/source/_static/css/custom.css
  docs/userguide/source/backup.rst
  docs/userguide/source/conf.py
  docs/userguide/source/configuration.rst
  docs/userguide/source/index.rst
  docs/userguide/source/installation.rst
  docs/userguide/source/introduction.rst
  docs/userguide/source/monitoring.rst
  docs/userguide/source/overview.rst
  docs/userguide/source/pause_resume.rst
  docs/userguide/source/restore.rst
  docs/userguide/source/roadmap.rst
  docs/userguide/source/troubleshooting.rst
  docs/userguide/source/uninstall.rst
Due: userguide, devguide

Add correct changes for dev/userguide
  .gitlab-ci.yml
Due: none

Add some basic CI build info
  docs/devguide/source/ci_builds.rst
Due: userguide, devguide

Add documentation changes to devguide, remove variables conditional which blocks docs from running
  .gitlab-ci.yml
  docs/devguide/source/ci_builds.rst
Due: userguide, devguide

Add references
  docs/devguide/source/ci_builds.rst
Due: userguide, devguide

Add correct syntax for building
  docs/devguide/source/ci_builds.rst
Due: userguide, devguide

Only build docs if it changes, regardless of branch
  .gitlab-ci.yml
Due: none

Add some basic comments
  .gitlab-ci.yml
Due: none
