Repository catalogicsoftware/kubedr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go_lint, userguide, devguide

Path conditions:
  go_lint: not (any of: docs/**/*, tests/**/*)
  userguide: any of: docs/**/*
  devguide: any of: docs/**/*

Enable "status" subresource for BackupLocation.
  Makefile
  kubedr/api/v1alpha1/backuplocation_types.go
  kubedr/api/v1alpha1/metadatabackuppolicy_types.go
  kubedr/api/v1alpha1/metadatabackuppolicy_webhook.go
  kubedr/api/v1alpha1/metadatabackuprecord_types.go
  kubedr/api/v1alpha1/zz_generated.deepcopy.go
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_backuplocations.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuppolicies.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuprecords.yaml
  kubedr/config/rbac/role.yaml
  kubedr/config/webhook/manifests.yaml
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatabackuprecord_controller.go
  kubedr/main.go
Due: go_lint

Fix warnings about not checking return value.
  kubedr/config/manager/kustomization.yaml
  kubedr/controllers/backuplocation_controller.go
Due: go_lint

Fix lint warnings.
  kubedr/api/v1alpha1/backuplocation_webhook.go
  kubedr/api/v1alpha1/metadatabackuppolicy_webhook.go
  kubedr/config/manager/kustomization.yaml
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatabackuprecord_controller.go
Due: go_lint

Add new badges.
  README.md
Due: go_lint

Use Python util's backup command.
  Makefile
  kubedr/controllers/metadatabackuppolicy_controller.go
Due: go_lint

Fix lint warnings.
  kubedr/api/v1alpha1/backuplocation_webhook.go
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatabackuprecord_controller.go
Due: go_lint

Get logs for backup pod as part of tests.
  kubedr/api/v1alpha1/metadatabackuppolicy_types.go
  kubedr/api/v1alpha1/metadatabackuppolicy_webhook.go
  kubedr/api/v1alpha1/metadatabackuprecord_types.go
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatabackuprecord_controller.go
  tests/src/test_backup.py
Due: none

Backup test should refresh pod spec before assert.
  tests/src/test_backup.py
Due: none

Enable status subresource for policies.
  Makefile
  kubedr/api/v1alpha1/backuplocation_types.go
  kubedr/api/v1alpha1/metadatabackuppolicy_types.go
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_backuplocations.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuppolicies.yaml
  kubedr/controllers/metadatabackuppolicy_controller.go
Due: go_lint

Remove old mechanisms for pushing tags from GitLab.
  Makefile
  charts/kubedr/.gitignore
  charts/kubedr/Chart.yaml
  charts/kubedr/charts/cert-manager-0.2.10.tgz
  charts/kubedr/templates/deployment.yaml
Due: go_lint

Remove docker push from makefile, this should be handled outside the scope of the Makefile.
  Makefile
  kubedr/config/manager/kustomization.yaml
  kubedr/go.mod
Due: go_lint

Remove pushing from Makefile, handle it in CI only.
  Makefile
Due: go_lint

Remove charts/
  charts/kubedr/.gitignore
  charts/kubedr/Chart.yaml
  charts/kubedr/charts/cert-manager-0.2.10.tgz
  charts/kubedr/templates/deployment.yaml
Due: go_lint

Reduce backup test duration by removing sleep().
  tests/src/common/kubeclient.py
  tests/src/test_backup.py
Due: none

Describe "status" details in user guide.
  docs/userguide/source/monitoring.rst
Due: userguide, devguide

Added a backup test that includes certificates.
  tests/config/sample_testenv.json
  tests/src/test_backup.py
Due: none

Generate a Kubernetes event after repo initialization.
  .gitignore
  Makefile
  docs/userguide/source/monitoring.rst
  kubedr/config/rbac/role.yaml
  kubedr/controllers/backuplocation_controller.go
Due: userguide, devguide

Remove GitLab CI Config.
  .gitlab-ci.yml
Due: go_lint

Added file.
  testfile
Due: go_lint

Fix lint errors
  .yamllint
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_backuplocations.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuppolicies.yaml
  kubedr/config/webhook/manifests.yaml
Due: go_lint

Remove blank line at file start
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuprecords.yaml
Due: go_lint

Generate an event after backup is done.
  Makefile
  docs/userguide/source/monitoring.rst
  kubedr/controllers/metadatabackuppolicy_controller.go
Due: userguide, devguide

Fixed a problem in tests that print pod logs.
  tests/src/test_backup.py
Due: none
