Repository catalogicsoftware/kubedr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go_lint, userguide, devguide

Path conditions:
  go_lint: not (any of: docs/**/*, tests/**/*)
  userguide: any of: docs/userguide/**/*
  devguide: any of: docs/devguide/**/*

Remove newline
  docs/userguide/source/index.rst
Due: userguide

Remove empty release stage
  .gitlab-ci.yml
  Makefile
Due: go_lint

Override global except: changes from blocking manual pipeline runs
  .gitlab-ci.yml
Due: go_lint

Kubedrutil should be pulled as latest from the internal registry.
  Makefile
Due: go_lint

Add logo to dev guide.
  docs/devguide/source/_static/images/logo-2.0-vert-xsmall.png
  docs/devguide/source/_static/images/logo-2.5-vert-small.png
  docs/devguide/source/_static/images/logo-3.0-vert-med.png
  docs/devguide/source/ci_builds.rst
  docs/devguide/source/conf.py
Due: devguide

Correct syntax for ci_builds and local builds
  docs/devguide/source/ci_builds.rst
  docs/devguide/source/local_builds.rst
Due: devguide

Remove global except for manual runs.
  .gitlab-ci.yml
Due: go_lint

Remove repetition
  docs/devguide/source/local_builds.rst
Due: devguide

Update License.
  LICENSE
  kubedr/api/v1alpha1/backuplocation_types.go
  kubedr/api/v1alpha1/backuplocation_webhook.go
  kubedr/api/v1alpha1/groupversion_info.go
  kubedr/api/v1alpha1/metadatabackuppolicy_types.go
  kubedr/api/v1alpha1/metadatabackuppolicy_webhook.go
  kubedr/api/v1alpha1/metadatabackuprecord_types.go
  kubedr/config/manager/kustomization.yaml
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatabackuprecord_controller.go
  kubedr/hack/boilerplate.go.txt
  kubedr/main.go
Due: go_lint

Add README for docs.
  README.md
  docs/README.md
Due: none

Devguide minor refactoring
  docs/devguide/source/automated_tests.rst
  docs/devguide/source/ci_builds.rst
  docs/devguide/source/local_builds.rst
Due: devguide

Update dev guide.
  docs/README.md
  docs/devguide/source/automated_tests.rst
  docs/devguide/source/ci_builds.rst
  docs/devguide/source/impl.rst
  docs/devguide/source/index.rst
  docs/devguide/source/intro.rst
  docs/devguide/source/local_builds.rst
Due: devguide

Move registry/prefix out of makefile/ci.yml
  .gitlab-ci.yml
  Makefile
  kubedr/config/manager/kustomization.yaml
Due: go_lint

Fix path to kubedr.yaml.
  docs/devguide/source/local_builds.rst
Due: devguide

Remove slash from outside env var name
  .gitlab-ci.yml
Due: go_lint

Change name of minio metadata and default certs directory
  docs/userguide/source/backup.rst
  docs/userguide/source/configuration.rst
Due: userguide

Extract all logs
  .gitlab-ci.yml
Due: go_lint

Fix tests doc.
  docs/devguide/source/automated_tests.rst
Due: devguide

Only upload errors on failure
  .gitlab-ci.yml
Due: go_lint

Extract on failure
  .gitlab-ci.yml
Due: go_lint

Always collect logs
  .gitlab-ci.yml
Due: go_lint

Update README.md (trailing newlines)
  docs/README.md
Due: none

Remove more trailing lines.
  README.md
Due: go_lint

Fix backup test to check the right pod in case there are multiple backups.
  tests/src/test_backup.py
Due: none

Fix style error with Sphinx header
  docs/userguide/source/index.rst
Due: userguide

Update README.md (point to userguide/devguide)
  README.md
Due: go_lint

User guide updates.
  README.md
  docs/README.md
  docs/userguide/source/restore.rst
Due: userguide

Minor devguide tweaks.
  docs/devguide/source/ci_builds.rst
Due: devguide

Update README.md
  README.md
Due: go_lint

Update links to guides.
  docs/README.md
Due: none

Upload XML separately from junit path to allow downloading of artifacts through UI.
  .gitlab-ci.yml
Due: go_lint

Add feature list to user guide.
  docs/userguide/source/index.rst
  docs/userguide/source/introduction.rst
  docs/userguide/source/overview.rst
  docs/userguide/source/requirements.rst
Due: userguide

Publish XML report
  .gitlab-ci.yml
Due: go_lint

Fix the test logic that finds a backup pod.
  tests/src/test_backup.py
Due: none

Don't set repo initialization annotation in the controller.
  docs/devguide/source/automated_tests.rst
  kubedr/controllers/backuplocation_controller.go
  tests/conftest.py
  tests/src/common/kubeclient.py
  tests/src/test_backup.py
  tests/src/test_backuploc.py
Due: devguide

Enable gofmt.
  kubedr/Makefile
Due: go_lint

Add explicit version for kubedrutil in Makefile.
  Makefile
Due: go_lint

Remove hardcoding of :latest tag from Makefile.
  Makefile
Due: go_lint

Set kubedrutil image to be pulled from DockerHub by default.
  Makefile
Due: go_lint

Enable "status" subresource for BackupLocation.
  Makefile
  kubedr/api/v1alpha1/backuplocation_types.go
  kubedr/api/v1alpha1/metadatabackuppolicy_types.go
  kubedr/api/v1alpha1/metadatabackuppolicy_webhook.go
  kubedr/api/v1alpha1/metadatabackuprecord_types.go
  kubedr/api/v1alpha1/zz_generated.deepcopy.go
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_backuplocations.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuppolicies.yaml
  kubedr/config/crd/bases/kubedr.catalogicsoftware.com_metadatabackuprecords.yaml
  kubedr/config/rbac/role.yaml
  kubedr/config/webhook/manifests.yaml
  kubedr/controllers/backuplocation_controller.go
  kubedr/controllers/metadatabackuppolicy_controller.go
  kubedr/controllers/metadatabackuprecord_controller.go
  kubedr/main.go
Due: go_lint
